[submodule "topics/zsh/antigen"]
	path = topics/zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "topics/vim/Vundle.vim"]
	path = topics/vim/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "topics/fish/oh-my-fish"]
	path = topics/fish/oh-my-fish
	url = https://github.com/bpinto/oh-my-fish.git
